<div class="container" >
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">Structure</h4>
      <!--<md-button ng-click="showSimpleToast()">-->
      <!--Show Simple-->
      <!--</md-button>-->
      <div class="container-fluid container-fixed-lg">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading" >
                <div ng-show="$ctrl.flagForm" class="panel-title" >Form View
                </div>
                <div ng-show="!$ctrl.flagForm" class="panel-title" >Model View
                </div>
              </div>
              <div class="panel-body">
                <!--<div class="btn-group">-->
                  <!--<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Left'" ng-click="$ctrl.viewStructure(); $ctrl.screenColor='242, 238, 130, 0.75'">Structure</label>-->
                  <!--<label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="" ng-click="$ctrl.viewForm(); $ctrl.screenColor='65, 191, 180, 0.45'">Form</label>-->
                <!--</div>-->
                <div class="row">
                  <div class="col-sm-9 simpleDemo">
                    <!--<ul name="principalForm" dnd-list="$ctrl.modelForm">-->
                    <!--<li ng-repeat="(i,m) in $ctrl.modelForm"-->
                    <!--dnd-draggable="m"-->
                    <!--dnd-moved="$ctrl.modelForm.splice(i, 1)"-->
                    <!--dnd-effect-allowed="move"-->
                    <!--dnd-selected="$ctrl.modelForm.selected = m"-->
                    <!--ng-class="{'selected': $ctrl.modelForm.selected === m}">-->
                    <!--&lt;!&ndash;Añado una variable para controlar cuando el ratón entra en el div para mostrar los botones de editar y borrar&ndash;&gt;-->
                    <!--<div class="formComponent" ng-mouseenter="showHeaderButtons=true" ng-mouseleave="showHeaderButtons=false" >-->
                    <!--<span class="{{m.class}} formLabel">{{m.header}}<span ng-if="m.required===true">*</span></span>-->
                    <!--<md-button class="delete" ng-show="showHeaderButtons" ng-click="$ctrl.deleteObject(i)"><i class="fa fa-times" style="color: #d9534f;" aria-hidden="true" aria-label="delete"></i></md-button>-->
                    <!--<md-button class="edit" ng-show="showHeaderButtons" ng-click=" m.edit=true "><i class="fa fa-pencil" style="color: #105cb6;" aria-hidden="true" aria-label="edit"></i></md-button>-->
                    <!--<div ng-if="!m.edit">-->
                    <!--&lt;!&ndash;number & text&ndash;&gt;-->
                    <!--<div ng-if="m.typeStructure === 'simple'">-->
                    <!--<input class="form-control" type="{{m.type}}" ng-model="m.value" min="{{m.minValue}}" max="{{m.maxValue}}" ng-required="{{m.required}}" />-->
                    <!--</div>-->
                    <!--&lt;!&ndash;CheckBox&ndash;&gt;-->
                    <!--<div ng-if="m.type === 'checkbox' ">-->
                    <!--<div ng-repeat="(j, v) in m.options">-->
                    <!--<md-checkbox ng-model="v.value" />-->
                    <!--<input class="form-control" type="text" ng-model="v.name"/>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;Select &ndash;&gt;-->
                    <!--<div ng-if="m.type === 'select' ">-->
                    <!--<select class="form-control" id="sel1" ng-model="gu.value">-->
                    <!--<option ng-repeat="(j, v) in m.options">-->
                    <!--{{v.name}}-->
                    <!--</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;TextArea&ndash;&gt;-->
                    <!--<div ng-if="m.type === 'textArea' ">-->
                    <!--<textarea class="form-control" rows="{{m.rows}}" ng-model="m.value" maxlength="{{m.maxLength}}" ng-required="{{m.required}}">-->
                    <!--</textarea>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;Radio Group&ndash;&gt;-->
                    <!--<div ng-if="m.type === 'radioGroup' ">-->
                    <!--<md-radio-group ng-model="m.value">-->
                    <!--<div ng-repeat="(j, v) in m.options">-->
                    <!--<md-radio-button value={{v.value}} class="md-primary">{{v.name}}</md-radio-button>-->
                    <!--</div>-->
                    <!--</md-radio-group>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;Date Field&ndash;&gt;-->
                    <!--<div ng-if="m.type === 'dateField' ">-->
                    <!--<md-datepicker ng-model="m.value" md-placeholder="Enter date" ng-required="{{m.required}}"></md-datepicker>-->
                    <!--&lt;!&ndash;</textarea>&ndash;&gt;-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Edition view-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                    <!--<div ng-if="m.edit" style="padding:10px">-->
                    <!--<div class="formEdit">-->
                    <!--<form class="form-horizontal">-->
                    <!--&lt;!&ndash;REQUIRED&ndash;&gt;-->
                    <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="required">-->
                    <!--Required:-->
                    <!--</label>-->

                    <!--<div class="col-sm-10">-->
                    <!--<div class="checkbox">-->
                    <!--<label><input type="checkbox" id="required" ng-model="m.required"> </label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;LABEL&ndash;&gt;-->
                    <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="label">Label:</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" id="label" ng-model="m.header" >-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;VALUE&ndash;&gt;-->
                    <!--<div class="form-group" ng-if="m.typeStructure!='complex' && m.type!='dateField' && m.type!='header'">-->
                    <!--<label class="control-label col-sm-2" for="value">Value:</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="{{m.type}}" class="form-control" id="value" ng-model="m.value" maxlength="{{m.maxLength}}">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;MAX LENGTH&ndash;&gt;-->
                    <!--<div class="form-group" ng-if="m.typeStructure!='complex' && m.type!='number' && m.type!='dateField' && m.type!='header'">-->
                    <!--<label class="control-label col-sm-2" for="maxLength">Max Length:</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="number" class="form-control" id="maxLength" ng-model="m.maxLength" >-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;number max & min&ndash;&gt;-->
                    <!--<div class="form-group" ng-if="m.type==='number'">-->
                    <!--<label class="control-label col-sm-2" for="maxValue">Min:</label>-->
                    <!--<div class="col-sm-4">-->
                    <!--<input type="number" class="form-control" id="minValue" ng-model="m.minValue" >-->
                    <!--</div>-->
                    <!--<label class="control-label col-sm-2" for="maxValue">Max:</label>-->
                    <!--<div class="col-sm-4">-->
                    <!--<input type="number" class="form-control" id="maxValue" ng-model="m.maxValue" >-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;OPTIONS CHECKBOX&ndash;&gt;-->
                    <!--<div class="form-group" ng-if="m.typeStructure === 'complex'">-->
                    <!--<div >-->
                    <!--<div ng-repeat="(j, v) in m.options" >-->
                    <!--<label class="control-label col-sm-2" for="optionCheckbox">Options:</label>-->
                    <!--<div class="col-sm-4">-->
                    <!--<input type="text" id="optionCheckbox" class="form-control" ng-model="v.name" >-->
                    <!--</div>-->
                    <!--<div class="col-sm-4">-->
                    <!--<input type="text" class="form-control" ng-model="v.name" >-->
                    <!--</div>-->
                    <!--<div class="col-sm-2">-->
                    <!--<md-button class="delete" ng-click="$ctrl.deleteOptionInCheck(i,j)"><i class="fa fa-times" style="color: #d9534f;" aria-hidden="true"></i></md-button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-10">-->
                    <!--</div>-->
                    <!--<div class="col-sm-2">-->
                    <!--<md-button class="delete" ng-click="$ctrl.addOptionInCheck(i)"><i class="fa fa-plus" style="color: #5cb85c;" aria-hidden="true"></i></md-button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;Rows&ndash;&gt;-->
                    <!--<div class="form-group" ng-if="m.typeStructure === 'textArea' ">-->
                    <!--<label class="control-label col-sm-2" for="rows">Rows:</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="number" class="form-control" id="rows" ng-model="m.rows" >-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--&lt;!&ndash;close button&ndash;&gt;-->
                    <!--<div class="row">-->

                    <!--<button class="btn btn-default closeEdit" ng-click="m.edit=false">Close</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->


                    <!--</div>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--- CON SECCIONES COMIENZO -->
                    <script type="text/ng-template" id="list.html">
                      <ul name="principalForm" dnd-list="list">
                        <li ng-repeat="(i,m) in list"
                            dnd-draggable="m"
                            dnd-moved="list.splice(i, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="list.selected = m"
                            ng-class="{'selected': list.selected === m}"
                            ng-include="m.typeShow + '.html'">

                        </li>
                      </ul>
                    </script>
                    <script type="text/ng-template" id="list2.html">
                      <ul name="principalForm" dnd-list="m.container">
                        <li ng-repeat="(i,m) in m.container"
                            dnd-draggable="m"
                            dnd-moved="m.container.splice(i, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="m.container.selected = m"
                            ng-class="{'selected': m.container.selected === m}"
                            ng-include="m.typeShow + '.html'">
                        </li>
                      </ul>
                    </script>
                    <script type="text/ng-template" id="container.html">
                      <div class="container-element box item box-blue">
                        <div class="formComponent" ng-mouseenter="showHeaderButtons=true" ng-mouseleave="showHeaderButtons=false" >
                          <span class="{{m.class}} formLabel">{{m.header}}<span ng-if="m.required===true">*</span></span>
                          <md-button class="delete" ng-show="showHeaderButtons" ng-click="$ctrl.deleteObject(null,m)"><i class="fa fa-times" style="color: #d9534f;" aria-hidden="true" aria-label="delete"></i></md-button>
                          <md-button class="edit" ng-show="showHeaderButtons" ng-click=" m.edit=true "><i class="fa fa-pencil" style="color: #105cb6;" aria-hidden="true" aria-label="edit"></i></md-button>
                        </div>
                        <!--Editar para la sección-->
                        <div ng-if="m.edit" style="padding:10px">
                          <div class="formEdit">
                            <form class="form-horizontal">
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="label">Label:</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="label" ng-model="m.header" >
                                </div>
                              </div>
                              <!--Code-->
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="code1">Code:</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="code1" ng-model="m.code" >
                                </div>
                              </div>
                            </form>
                            <!--close button-->
                            <div class="row">

                              <button class="btn btn-default closeEdit" ng-click="m.edit=false">Close</button>
                            </div>
                          </div>
                        </div>
                        <div class="column" ng-repeat="list in [m.container]" ng-include="'list.html'"></div>
                        <div class="clearfix"></div>
                      </div>

                    </script>
                    <!--Añado una variable para controlar cuando el ratón entra en el div para mostrar los botones de editar y borrar-->
                    <script type="text/ng-template" id="item.html">
                      <div class="item">
                        <div class="formComponent" ng-mouseenter="showHeaderButtons=true" ng-mouseleave="showHeaderButtons=false" >
                          <span class="{{m.class}} formLabel">{{m.header}}<span ng-if="m.required===true">*</span></span>

                          <md-button class="delete" ng-show="showHeaderButtons" dnd-list="[]" ng-click="$ctrl.deleteObject(null,m)"><i class="fa fa-times" style="color: #d9534f;" aria-hidden="true" aria-label="delete"></i></md-button>
                          <md-button class="edit" ng-show="showHeaderButtons" ng-click=" m.edit=true "><i class="fa fa-pencil" style="color: #105cb6;" aria-hidden="true" aria-label="edit"></i></md-button>
                          <md-button uib-tooltip="{{m.helptext}}" class="delete" ng-show="showHeaderButtons" dnd-list="[]" ng-click=""><i class="fa fa-question" style="color: #3c763d;" aria-hidden="true" aria-label="help"></i></md-button>

                          <div ng-if="!m.edit">
                            <!--number & text-->
                            <div ng-if="m.typeStructure === 'simple'">
                              <input class="form-control" type="{{m.type}}" ng-model="m.value" min="{{m.minValue}}" max="{{m.maxValue}}" ng-required="{{m.required}}" />
                            </div>
                            <!--CheckBox-->
                            <div ng-if="m.type === 'checkbox' ">
                              <div ng-repeat="(j, v) in m.options">
                                <md-checkbox ng-model="v.value" />
                                <input class="form-control" type="text" ng-model="v.display"/>
                              </div>
                            </div>
                            <!--Select -->
                            <div ng-if="m.type === 'select' ">
                              <select class="form-control" id="sel1" ng-model="v.value">
                                <option ng-repeat="(j, v) in m.options">
                                  {{v.display}}
                                </option>
                              </select>
                            </div>
                            <!--TextArea-->
                            <div ng-if="m.type === 'textArea' ">
                              <textarea class="form-control" rows="{{m.rows}}" ng-model="m.value" maxlength="{{m.maxLength}}" ng-required="{{m.required}}">
                              </textarea>
                            </div>
                            <!--Radio Group-->
                            <div ng-if="m.type === 'radioGroup' ">
                              <md-radio-group ng-model="m.value">
                                <div ng-repeat="(j, v) in m.options">
                                  <md-radio-button value={{v.value}} class="md-primary">{{v.display}}</md-radio-button>
                                </div>
                              </md-radio-group>
                            </div>
                            <!--Date Field-->
                            <div ng-if="m.type === 'dateField' ">
                              <md-datepicker ng-model="m.value" md-placeholder="Enter date" ng-required="{{m.required}}"></md-datepicker>
                            </div>
                            <!--File-->
                            <div ng-if="m.type === 'file' ">
                              <input type="file" class="form-control">
                            </div>
                            <!--Autocalculated-->
                            <div ng-if="m.type === 'auto' ">
                              <button class="btn btn-default" ng-click="$ctrl.clearAllItems(); showModelForm('#autoForm')" id="autoForm1">CallModal</button>
                            </div>
                          </div>
                          <!--------------------Edition view----------------->
                          <div ng-if="m.edit" style="padding:10px">
                            <div class="formEdit">
                              <form class="form-horizontal">
                                <!--REQUIRED-->
                                <div class="form-group">
                                  <label class="control-label col-sm-2" for="required">
                                    Required:
                                  </label>

                                  <div class="col-sm-10">
                                    <div class="checkbox">
                                      <label><input type="checkbox" id="required" ng-model="m.required"> </label>
                                    </div>
                                  </div>
                                </div>
                                <!--LABEL-->
                                <div class="form-group">
                                  <label class="control-label col-sm-2" for="label1">Label:</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" id="label1" ng-model="m.header" >
                                  </div>
                                </div>
                                <!--Code-->
                                <div class="form-group">
                                  <label class="control-label col-sm-2" for="code1">Code:</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" id="code1" ng-model="m.code" >
                                  </div>
                                </div>
                                <!--VALUE-->
                                <div class="form-group" ng-if="m.typeStructure!='complex' && m.type!='dateField' && m.type!='header' && m.type!='file'">
                                  <label class="control-label col-sm-2" for="value">Value:</label>
                                  <div class="col-sm-10">
                                    <input type="{{m.type}}" class="form-control" id="value" ng-model="m.value" maxlength="{{m.maxLength}}">
                                  </div>
                                </div>
                                <!--Magnitude-->
                                <div class="form-group" ng-if="m.type==='magnitude'">
                                  <label class="control-label col-sm-2" for="value">Unit:</label>
                                  <div class="col-sm-10">
                                    <select class="form-control" ng-model="m.unit">
                                      <optgroup label="Picnic">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                      </optgroup>
                                      <optgroup label="Camping">
                                        <option>Tent</option>
                                        <option>Flashlight</option>
                                        <option>Toilet Paper</option>
                                      </optgroup>
                                    </select>
                                  </div>
                                </div>
                                <!--Default VALUE-->
                                <div class="form-group" ng-if="m.typeStructure!='complex' && m.type!='dateField' && m.type!='header' && m.type!='file' && m.type!='auto'">
                                  <label class="control-label col-sm-2" for="value">Default Value:</label>
                                  <div class="col-sm-10">
                                    <input type="{{m.type}}" class="form-control" id="dvalue" ng-model="m.defaultValue" maxlength="{{m.maxLength}}">
                                  </div>
                                </div>
                                <!--Help Text-->
                                <div class="form-group" ng-if="m.type!='header'">
                                  <label class="control-label col-sm-2" for="value">Help Text:</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" id="htext" ng-model="m.helptext" maxlength="150">
                                  </div>
                                </div>
                                <!--MAX LENGTH-->
                                <div class="form-group" ng-if="m.typeStructure!='complex' && m.type!='number' && m.type!='dateField' && m.type!='header' && m.type!='file' && m.type!='auto'">
                                  <label class="control-label col-sm-2" for="maxLength">Max Length:</label>
                                  <div class="col-sm-10">
                                    <input type="number" class="form-control" id="maxLength" ng-model="m.maxLength" >
                                  </div>
                                </div>
                                <!--number max & min-->
                                <div class="form-group" ng-if="m.type==='number'">
                                  <label class="control-label col-sm-2" for="maxValue">Min:</label>
                                  <div class="col-sm-4">
                                    <input type="number" class="form-control" id="minValue" ng-model="m.minValue" >
                                  </div>
                                  <label class="control-label col-sm-2" for="maxValue">Max:</label>
                                  <div class="col-sm-4">
                                    <input type="number" class="form-control" id="maxValue" ng-model="m.maxValue" >
                                  </div>
                                </div>
                                <!--decimal number-->
                                <div class="form-group" ng-if="m.type==='number'">
                                  <label class="control-label col-sm-2" for="maxLength">Decimals:</label>
                                  <div class="col-sm-10">
                                    <input type="number" class="form-control" id="decimalNumber" ng-model="m.decimalNumber" >
                                  </div>
                                </div>
                                <!--OPTIONS CHECKBOX-->
                                <div class="form-group" ng-if="m.typeStructure === 'complex'">
                                  <div >
                                    <div ng-repeat="(j, v) in m.options" >
                                      <label class="control-label col-sm-2" for="optionCheckbox">Options:</label>
                                      <div class="col-sm-4">
                                        <input type="text" id="optionCheckbox" class="form-control" ng-model="v.display" >
                                      </div>
                                      <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="v.code" >
                                      </div>
                                      <div class="col-sm-2">
                                        <md-button class="delete" ng-click="$ctrl.deleteOptionInCheck(i,j)"><i class="fa fa-times" style="color: #d9534f;" aria-hidden="true"></i></md-button>
                                      </div>
                                    </div>
                                    <div class="col-sm-10">
                                    </div>
                                    <div class="col-sm-2">
                                      <md-button class="delete" ng-click="$ctrl.addOptionInCheck(i)"><i class="fa fa-plus" style="color: #5cb85c;" aria-hidden="true"></i></md-button>
                                    </div>
                                  </div>
                                </div>
                                <!--Rows-->
                                <div class="form-group" ng-if="m.typeStructure === 'textArea' ">
                                  <label class="control-label col-sm-2" for="rows">Rows:</label>
                                  <div class="col-sm-10">
                                    <input type="number" class="form-control" id="rows" ng-model="m.rows" >
                                  </div>
                                </div>
                                <!--Type form view-->
                                <div class="form-group" ng-if="$ctrl.flagForm && m.type!='file'">
                                  <label class="control-label col-sm-2" for="value">Type form view:</label>
                                  <div class="col-sm-10">
                                    <button class="btn btn-default" ng-click="$ctrl.changeType(null, m, 3)">Select</button>
                                    <button class="btn btn-default" ng-click="$ctrl.changeType(null, m, 2)">CheckBox</button>
                                    <button class="btn btn-default" ng-click="$ctrl.changeType(null, m, 5)">Radio Group</button>
                                  </div>
                                </div>
                              </form>
                              <!--close button-->
                              <div class="row">
                                <button class="btn btn-default closeEdit" ng-click="m.edit=false">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </script>
                    <div ng-repeat="list in [$ctrl.modelForm]">
                      <div class="dropzone box box-yellow">
                        <div ng-include="'list.html'"></div>
                      </div>
                    </div>
                    <!--- CON SECCCIONES FIN ---->
                  </div>
                  <div class="col-sm-3">
                    <!--RIGTH FORM MENU-->
                    <form class="search-form">
                      <!--<label><i class="fa fa-search"></i>Search</label>-->
                      <p class="input-group">
                        <input autocomplete="off" type="text" id="myInput" placeholder="Search for structures.." ng-model="$ctrl.searchText" ng-minlength="2">
                        <span class="input-group-btn">
                 </span>
                      </p>
                    </form>
                    <ul ng-show="$ctrl.searchText!=null && $ctrl.searchText!=''" id="myUL">
                      <li ng-repeat="form in $ctrl.modelFormCustom | filter:$ctrl.searchText" >
                        <a ng-click="$ctrl.addFormCustom(form.form)">
                          <span ng-if="form.mode === 'form' "><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                          <span ng-if="form.mode === 'structure' "><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                          <span ng-if="form.mode === 'terminology' "><i class="fa fa-book" aria-hidden="true"></i></span>
                          {{form.name}}(v.{{form.version}})
                        </a>
                      </li>
                    </ul>
                    <div class="btn-group">
                      <button ng-click="$ctrl.addDateField()"><i class="fa fa-calendar" aria-hidden="true"></i>
                        Date Field</button>
                      <button ng-show="$ctrl.flagForm" ng-click="$ctrl.addCheck()"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                        Checkbox Group</button>
                      <button ng-show="$ctrl.flagForm" ng-click="$ctrl.addHeader()"><i class="fa fa-header" aria-hidden="true"></i>
                        Header</button>
                      <button ng-show="$ctrl.flagForm" ng-click="$ctrl.addParagraph()"><i class="fa fa-paragraph" aria-hidden="true"></i>
                        Paragraph</button>
                      <button ng-click="$ctrl.addNumber()"><i class="fa fa-hashtag" aria-hidden="true"></i>
                        Number</button>
                      <button ng-show="!$ctrl.flagForm" ng-click="$ctrl.addSelect()"><i class="fa fa-indent" aria-hidden="true"></i>
                        Cluster</button>
                      <button ng-show="$ctrl.flagForm" ng-click="$ctrl.addSelect()"><i class="fa fa-indent" aria-hidden="true"></i>
                        Select</button>
                      <button ng-click="$ctrl.addText()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Text Field</button>
                      <button ng-show="$ctrl.flagForm" ng-click="$ctrl.addTextArea()"><i class="fa fa-align-justify" aria-hidden="true"></i>
                        Text Area</button>
                      <button ng-show="$ctrl.flagForm" ng-click="$ctrl.addRadioGroup()"><i class="fa fa-list-ul" aria-hidden="true"></i>
                        Radio Group</button>
                      <button ng-click="$ctrl.addSection()"><i class="fa fa-object-group" aria-hidden="true"></i>
                        Section</button>
                      <button ng-click="$ctrl.addTable()"><i class="fa fa-table" aria-hidden="true"></i>
                        Table</button>
                      <button ng-click="$ctrl.addMagnitude()"><i class="fa fa-quora" aria-hidden="true"></i>
                        Magnitude</button>
                      <button ng-click="$ctrl.addAutocalculated()"><i class="fa fa-calculator" aria-hidden="true"></i>
                        Autocalculated</button>
                      <button ng-click="$ctrl.addIndex()"><i class="fa fa-calculator" aria-hidden="true"></i>
                        Index</button>
                    </div>
                    <div class="form-actions">
                      <button type="button" ng-click="$ctrl.clear()" id="clear-action" class="btn btn-danger">Clear</button>
                      <button type="button" ng-click="showModelForm('#modelForm')" id="data-action" class="btn btn-default">{ }</button>
                      <button type="button" ng-click="showModelForm('#nameForm')" id="save-action" class="btn btn-primary">Save</button>
                    </div>
                  </div>

                </div>

                </md-input-container>

                <!--Dialog Data Structure-->
              </div>


            </div>

          </div>
        </div>
      </div>


    </div>

  </div>
  <!--Modal Data-->
  <div style="visibility: hidden">
    <div class="md-dialog-container" layout="row" class="profile" layout-wrap id="modelForm">
      <md-dialog flex="50">
        <md-toolbar>
          <div class="md-toolbar-tools dialog-header">
            Data
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hideModelForm()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <pre>{{$ctrl.modelForm | json : spacing}}</pre>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <button type="button" class="btn btn-primary btn-block">Copy Data</button>
        </md-dialog-actions>

      </md-dialog>
    </div>
  </div>
  <!--Modal Form Name-->
  <div style="visibility: hidden">
    <div class="md-dialog-container" layout="row" class="profile" layout-wrap id="nameForm">
      <md-dialog flex="50">
        <md-toolbar>
          <div class="md-toolbar-tools dialog-header">
            Save as:
            <span flex></span>

            <md-button class="md-icon-button" ng-click="hideModelForm()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div style="padding-top: 10px" class="container-fluid container-fixed-lg">
            <div style="padding-top: 10px" class="container-fluid container-fixed-lg">
              <div class="form-group">
                <label class="control-label col-sm-3" for="nameform1">Name:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="nameform1" ng-model="$ctrl.nameForm">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="inpuName2">Language:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inpuName2" ng-model="$ctrl.languageForm">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Project:</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-model="$ctrl.projectForm">
                    <option value={{project._id}}  ng-repeat="project in $ctrl.getCurrentUser().projects">{{project.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="inpuName4">Version:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inpuName4" ng-model="$ctrl.versionForm">
                </div>
              </div>
            </div>
          </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <button type="button" ng-click="$ctrl.saveForm();hideModelForm()" class="btn btn-primary btn-block">Save</button>
        </md-dialog-actions>

      </md-dialog>
    </div>
  </div>

  <!--Modal Autocalculate-->
  <div style="visibility: hidden">
    <div class="md-dialog-container" layout="row" class="profile" layout-wrap id="autoForm">
      <md-dialog flex="50">
        <md-toolbar>
          <div class="md-toolbar-tools dialog-header">
            Creator
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hideModelForm()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="panel panel-default">
            <div class="panel-body">

              </md-input-container>
              <button ng-click="$ctrl.operator=$ctrl.operator+'+'"class="btn btn-default " ng-click="">+</button>
              <button ng-click="$ctrl.operator=$ctrl.operator+'-'"class="btn btn-default " ng-click="">-</button>
              <button ng-click="$ctrl.operator=$ctrl.operator+'*'" class="btn btn-default " ng-click="">*</button>
              <button ng-click="$ctrl.operator=$ctrl.operator+'/'" class="btn btn-default " ng-click="">/</button>
              <button ng-click="$ctrl.operator=$ctrl.operator+'('" class="btn btn-default " ng-click="">(</button>
              <button ng-click="$ctrl.operator=$ctrl.operator+')'" class="btn btn-default " ng-click="">)</button>
              <button class="btn btn-default " ng-click="$ctrl.operator=$ctrl.operator+item.header+' ';" ng-repeat="item in $ctrl.allItemsForm">{{item.header}}</button>

              </br>
              <input style="margin-top:23px" ng-model="$ctrl.operator" class="form-control"/>
            </div>

          </div>        </md-dialog-content>
        <md-dialog-actions layout="row">
          <button type="button" class="btn btn-primary btn-block">Confirm</button>
        </md-dialog-actions>

      </md-dialog>
    </div>
  </div>
</div>
