<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Projects</h1>

      <div class="container-fluid container-fixed-lg">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Project
                  <button type="button" ng-click="showModelForm('#modelForm')" id="data-action" class="btn btn-default">+</button>

                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p ng-repeat="project in $ctrl.getCurrentUser().projects">
                      <a  ng-click="$ctrl.selectProject(project._id)">{{project.name}}</a>
                    </p>
                  </div>
                  <div class="col-sm-9">
                    <h3>{{$ctrl.projectSelected.name}}</h3>
                    <p>{{$ctrl.projectSelected.description}} </p>

                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>User</th>
                        <th>Email</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="user in $ctrl.projectSelected.users">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                      </tr>
                      <tr>
                        <td>
                          <input type="text" class="form-control" ng-model="$ctrl.newUser">
                        </td>
                        <td>
                          <button type="button" ng-click="$ctrl.addUserProject()" id="save-action" class="btn btn-primary">
                            Add User
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

  <!--Create new Project-->

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="modelForm" layout-wrap id="modelForm">
      <md-dialog aria-label="Mango (Fruit)">
        <form>
          <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: #1556a3">
              <h2>New Project</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-dialog-content style="max-width:800px;max-height:810px; width: 800px;">
            <md-content class="md-padding">
                <h1>Create a new Project</h1>
                  <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="name" class="form-control" id="Name" placeholder="Name" ng-model="$ctrl.newProject.name">
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" id="description" placeholder="Description" ng-model="$ctrl.newProject.description">
                  </div>
            </md-content>
          </md-dialog-content>

          <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="hideModelForm()" >
              Cancel
            </md-button>
            <md-button ng-click="$ctrl.saveProject(); hideModelForm()" style="margin-right:20px;" >
              Save
            </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>
    </div>
  </div>
</div>

