<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Terminology</h1>

      <div class="container-fluid container-fixed-lg">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                </div>

              </div>
              <div class="panel-body">
                <div class="form-group">
                  <select class="form-control" ng-model="$ctrl.searchText">
                    <option value="" disabled selected>Select Terminology...</option>
                    <option ng-repeat="terminology in $ctrl.sourceNames" value="{{terminology.terminology}}">{{terminology.terminology}}</option>
                  </select>
                </div>
                <div class="inner-addon left-addon">
                  <i class="glyphicon glyphicon-search"></i>
                  <input type="text" class="form-control" ng-model="$ctrl.searchText2" placeholder="Type for search"/>
                </div>
                <hr>
                <button ng-click="$ctrl.addSelectLinkeName()" type="button" class="btn moveall btn-default" title="Import term">
                  Name <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </button>
                <button ng-click="$ctrl.addAll()" ng-show="$ctrl.typeForCreate==='2'" type="button" class="btn moveall btn-default" title="Move all">
                  <i class="glyphicon glyphicon-arrow-right"></i><i class="glyphicon glyphicon-arrow-right"></i>
                </button>
                <button ng-click="$ctrl.addSelect()" ng-show="$ctrl.typeForCreate==='2'" type="button" class="btn move btn-default" title="Move selected">
                  <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
                <div class="form-group">
                  <select ng-model="$ctrl.selections" multiple class="form-control" id="sel1" style="height: 20vh;">
                    <option ng-repeat="term in $ctrl.source | filter:{terminology:$ctrl.searchText} | filter:$ctrl.searchText2" ng-value="term">{{term.display}}</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                </div>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <select id="inputTypeForm" style="font-family: 'FontAwesome', Roboto, 'Helvetica Neue', sans-serif" class="form-control" ng-model="$ctrl.typeForCreate" placeholder="Select kind of input">
                    <option value="" disabled selected>Select a kind of input...</option>
                    <option value="0">&#xf044; Text</option>
                    <option value="1">&#xf292; Number</option>
                    <option value="2">&#xf03c; Select</option>
                    <option value="3">&#xf073; Date Field</option>
                    <option value="4">&#xf247; Section</option>
                    <option value="5">&#xf2c4; Magnitude</option>
                    <option value="6">&#xf1ec; Autocalculated</option>
                  </select>
                </div>
                <hr>
                <div class="form-group">
                  <!--<label for="inputNameForm">Name</label>-->
                  <input type="text" id="inputNameForm" class="form-control" ng-model="$ctrl.nameForm" placeholder="Name for term" disabled>
                </div>
                <div ng-show="$ctrl.typeForCreate==='2'">
                  <hr>
                  <button ng-click="$ctrl.removeSelect()" type="button" class="btn remove btn-default" title="Remove selected">       <i class="glyphicon glyphicon-arrow-left"></i>     </button>
                  <button ng-click="$ctrl.removeAll()" type="button" class="btn removeall btn-default" title="Remove all">       <i class="glyphicon glyphicon-arrow-left"></i>       <i class="glyphicon glyphicon-arrow-left"></i>     </button>
                  <div class="form-group">
                    <select ng-model="$ctrl.selections2" multiple class="form-control" id="sel2" >
                      <option ng-repeat="option in $ctrl.selectList" ng-value="option">{{option.display}}</option>
                    </select>
                  </div>
                </div>
                <button type="button" ng-click="showModelForm('#nameForm')" id="save-action" class="btn btn-primary">Save</button>

              </div>

            </div>

          </div>
        </div>


      </div>

    </div>
  </div>
  <!--Modal Form Name-->
  <div style="visibility: hidden">
    <div class="md-dialog-container" layout="row" class="profile" layout-wrap id="nameForm">
      <md-dialog flex="50">
        <md-toolbar>
          <div class="md-toolbar-tools dialog-header">
            Save as:
            <span flex></span>

            <md-button class="md-icon-button" ng-click="hideModelForm()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div style="padding-top: 10px" class="container-fluid container-fixed-lg">
            <div class="form-group">
              <label class="control-label col-sm-3">Name:</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" id="inputName" ng-model="$ctrl.nameForm"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Project:</label>
              <div class="col-sm-9">
                <select class="form-control" ng-model="$ctrl.projectForm">
                  <option value={{project._id}}  ng-repeat="project in $ctrl.getCurrentUser().projects">{{project.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <button type="button" ng-click="$ctrl.createForm();hideModelForm()" class="btn btn-primary btn-block">Save</button>
        </md-dialog-actions>

      </md-dialog>
    </div>
  </div>
</div>

