
<style>
  body {
    border-radius: 1em;
  }

  .float-left {
    float: left;
  }

  .left, .middle, .right {
    margin: .5em 0 0 .5em;
    float: left;
    border-radius: 1em;
  }

  .left {
    clear: left;
    width: 30%;
  }

  .middle, .right {
    padding-left: 3%;
    width: 30%;
  }

  .markup {
    padding-top: 2em;
    float: left;
  }

  .code {
    float: left;
    clear: left;
  }

  .example {
    padding-top: .5em;
    float: left;
    clear: left;
    width: 100%;
  }

  .active {
    background-color: grey;
  }

  .tree-trunk {
    padding: .5em 0 0 .5em;
  }

  .white {
    color: white;
  }

  .type {
    border-radius: .25em;
    color: white;
    padding: .5em;
    margin-left: .5em;
  }

  .string {
    background-color: red;
  }

  .optional {
    background-color: green;
  }

  .function {
    background-color: black;
  }

  .object {
    background-color: purple;
  }

  .number {
    background-color: blue;
  }

  .boolean {
    background-color: grey;
  }

  .array {
    background-color: orange;
  }

  .required {
    background-color: yellow;
    color: red;
  }

  .property {
    font-weight: 700;
    display: inline;
  }

  .padding-top-half-em {
    padding-top: .5em;
  }

  .italicized {
    font-style: italic;
  }
  .clickable {
    cursor: pointer;
  }

  .active {
    background-color: lightgrey;
  }

  .tree-parent {
    margin-bottom: .25em;
    padding-left: 0;
  }

  .tree-child {
    margin-bottom: .25em;
    padding-left: 1em;
  }
</style>
<div class="container">
  <!-- Indicators -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://lh3.googleusercontent.com/-i_wSdtovOnc/Wh_ozjmPXUI/AAAAAAAAWEw/NFBeYqwepUMOBUZfB2fm9aSObhuc-9PmACL0BGAYYCw/h1234/2017-11-30.png" alt="MedicalForms">
        <div class="carousel-caption">
          <h3>MedicalForms.org</h3>
          <p>Herramienta para la creación de formularios normalizados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">Inicio</h4>
      <!--<md-button ng-click="showSimpleToast()">-->
      <!--Show Simple-->
      <!--</md-button>-->

      <div class="container-fluid container-fixed-lg">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">EHRBuilder</div>
              </div>
              <div class="panel-body">

                Es una herramienta para la normalización de la información clínica en base a una metodología en el desarrollo de nuevos módulos en sistemas de Historia Clínica Electrónica. Esta herramienta permite la definición de modelos de información y documentos clínicos asociados a la atención de los pacientes mediante funcionalidades que aseguran la coordinación entre los profesionales involucrados en el modelado de información clínica. Además, incluye técnicas de para asegurar la consistencia semántica entre los múltiples documentos clínicos definidos para documentar la atención de los pacientes consiguiendo favorecer la explotación de los datos a través de los múltiples procesos asistenciales.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid container-fixed-lg">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Funcionalidades</div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="assets/images/Governance.jpg" alt="...">
                      <div class="caption">
                        <h3>Gobernanza</h3>
                        <p>Mecanismos de gobernanza por medio de roles que aseguren la colaboración de profesionales sanitarios y expertos en terminologías y modelado de información en la definición de los modelos de información clínica y documentos clínicos. </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="assets/images/Repository.jpg" alt="...">
                      <div class="caption">
                        <h3>Repositorio</h3>
                        <p>Un repositorio de modelos de información y documentos clínicos genéricos a partir del estudio del modelo de información de Diraya y las especificaciones de interoperabilidad de los sistemas de HCE. </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="assets/images/Structure.jpg" alt="...">
                      <div class="caption">
                        <h3>Documentos</h3>
                        <p>Funcionalidades para la definición de los múltiples documentos clínicos y modelos de información de un proceso asistencial a partir del repositorio de modelos de información genéricos asegurando la consistencia semántica de la información. </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <img src="assets/images/Indicators.jpg" alt="...">
                      <div class="caption">
                        <h3>Indicadores</h3>
                        <p>Implementar funcionalidades para la definición de indicadores asociados al proceso asistencial asegurando que puedan ser calculados en función de la información recogida en los documentos clínicos definidos. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid container-fixed-lg">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Demo</div>
              </div>
              <div class="panel-body" align="center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pFzjLaIqWx8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--&lt;!&ndash;TEST AUTOCOMPLETE&ndash;&gt;-->

      <!--{{$ctrl.selectedItem}}-->

      <!--<md-chips ng-model="$ctrl.selectedItem" md-autocomplete-snap="" md-transform-chip="$ctrl.transformChip($chip)" md-require-match=true>-->
      <!--<h2 class="md-title">Use <code>md-autocomplete</code>  to build an ordered set of chips.</h2>-->
        <!--<md-autocomplete md-selected-item="$ctrl.selectedItem" md-search-text="$ctrl.searchText" md-items="item in $ctrl.querySearch()" md-item-text="item.name" placeholder="Search for a vegetable">-->
          <!--<span md-highlight-text="$ctrl.searchText">{{item.name}} :: {{item.type}}</span>-->
        <!--</md-autocomplete>-->
        <!--<md-chip-template>-->
        <!--<span>-->
          <!--<strong>{{$ctrl.chip1.name}}</strong>-->
          <!--<em>({{$ctrl.chip1.type}})</em>-->
          <!---->
        <!--</span>-->
        <!--</md-chip-template>-->
      <!--</md-chips>-->


      <!--<p>-->
        <!--<md-checkbox ng-model="ctrl.autocompleteDemoRequireMatch">-->
          <!--Tell the autocomplete to require a match (when enabled you cannot create new chips)-->
        <!--</md-checkbox>-->
      <!--</p>-->

      <!--<br>-->
      <!--<h2 class="md-title">Vegetable Options</h2>-->

      <!--<md-list>-->
        <!--<md-list-item class="md-2-line veggie-option" ng-repeat="veg in $ctrl.vegetables" layout="row" layout-wrap="">-->
          <!--<div class="md-item-text md-whiteframe-z1" flex="">-->
            <!--<h3>{{veg.name}}</h3>-->
            <!--<p>{{veg.type}}</p>-->
          <!--</div>-->
        <!--</md-list-item>-->
      <!--</md-list>-->

      <!--</md-content>-->

    </div>


  </div>
  <!-- QUITAR ARBOL -->
  <!-- https://github.com/engineer-andrew/Angular-Tree-View -->
  <!--<p>TREE VIEW</p>-->
  <!--<div>-->
    <!--<div class="left">-->
      <!--<ea-tree-view items="model.simpsons" dataset-id="$id" callback="show"></ea-tree-view>-->
    <!--</div>-->
  <!--</div>-->
  <!-------------------------->
</div>


