<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Indicators</h1>
      <!--<div class="row">-->
        <!--<div class="col-lg-3">-->
          <!--<md-input-container layout-gt-sm="row" class="md-block" flex-gt-sm>-->
            <!--<label>Name</label>-->
            <!--<input ng-model="$ctrl.name" autofocus>-->
          <!--</md-input-container>-->
        <!--</div>-->
      <!--</div>-->


      <div class="container-fluid container-fixed-lg">
        <div class="row">
          <div class="col-sm-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Model
                </div>

              </div>
              <div class="panel-body">
                <form class="search-form">
                  <label>Search</label>
                  <p class="input-group">
                    <input type="text" class="form-control" placeholder="" ng-model="$ctrl.searchText">
                    <span class="input-group-btn">
                 </span>
                  </p>
                </form>

                <div ng-show="$ctrl.searchText" ng-repeat="st in $ctrl.formularios | filter:$ctrl.searchText">
                  <div>
                    <p>ExampleForm</p>
                    <p style="padding-left: 20px">
                      <a ng-click="$ctrl.data1=true"> >Data1</a>
                    </p>
                  </div>
                  <div>
                    <p>ExampleForm2</p>
                    <p style="padding-left: 20px">
                      <a ng-click="$ctrl.data2=true"> >Data2</a>
                    </p>
                  </div>
                  <!--ng-if="$ctrl.idStructure != '' && $ctrl.idStructure == st.idStructure"-->
                  <!--<div ng-show="$ctrl.selected == st._id">-->
                  <!--<p  style="padding-left: 20px" ng-repeat="e in st.elements">-->
                  <!--<a ng-click="$ctrl.elementSelected(e._id)">{{e.name}}</a>-->
                  <!--</p>-->
                  <!--</div>-->

                </div>

                <hr>
                <div ng-repeat="select in $ctrl.selection">
                  <!--{{select}}-->
                  <div ng-repeat="element in select.elements">
                    <div  ng-repeat="term in element.terms">
                      <md-checkbox ng-show="term.name" type="checkbox" checklist-model="element.specificterms.names" checklist-value="term.name"> {{term.name}} </md-checkbox>
                    </div>
                  </div>
                </div>
                <!--<md-button class="md-raised md-primary" ng-click="$ctrl.combineTerms()">Seleccionar</md-button>-->

                <!--<div ng-repeat="combi in $ctrl.combination">-->
                  <!--<md-input-container>-->
                    <!--<label>{{combi.name}}</label>-->
                    <!--<md-select name="singleSelect" ng-model="$ctrl.test2">-->
                      <!--<md-option ng-repeat="d in combi.datas" value="{{d}}">{{d}}</md-option>-->
                    <!--</md-select>-->

                  <!--</md-input-container>-->

                  <!--&lt;!&ndash;<select name="singleSelect" ng-model="$ctrl.test2">&ndash;&gt;-->
                  <!--&lt;!&ndash;<option ng-repeat="d in combi.datas" value="{{d}}">{{d}}</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;</select>&ndash;&gt;-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Creator
                </div>
              </div>
              <div class="panel-body">

                </md-input-container>
                <button ng-click="$ctrl.operator=$ctrl.operator+'+'"class="btn btn-default " ng-click="">+</button>
                <button ng-click="$ctrl.operator=$ctrl.operator+'-'"class="btn btn-default " ng-click="">-</button>
                <button ng-click="$ctrl.operator=$ctrl.operator+'*'" class="btn btn-default " ng-click="">*</button>
                <button ng-click="$ctrl.operator=$ctrl.operator+'/'" class="btn btn-default " ng-click="">/</button>
                <button ng-click="$ctrl.operator=$ctrl.operator+'('" class="btn btn-default " ng-click="">(</button>
                <button ng-click="$ctrl.operator=$ctrl.operator+')'" class="btn btn-default " ng-click="">)</button>
                <button ng-show="$ctrl.data1" class="btn btn-default " ng-click="$ctrl.operator=$ctrl.operator+'Data1'">ExampleForm1|Data1</button>
                <button ng-show="$ctrl.data2" class="btn btn-default " ng-click="$ctrl.operator=$ctrl.operator+'Data2'">ExampleForm2|Data2</button>




                </br>
                <input style="margin-top:23px" ng-model="$ctrl.operator" class="form-control"/>

                <!--{{$ctrl.user.test}}-->
                <!--<label ng-repeat=" t in $ctrl.test">-->
                <!--<input type="checkbox" checklist-model="$ctrl.user.test" checklist-value="t">{{t}}</br>-->
                <!--</label>-->






                <!--<div ng-if="$ctrl.elementSelected.typeData == 'pq'">-->
                <!--<div ng-repeat="term in $ctrl.elementSelected.terms">-->
                <!--<p class="test"> {{term.name}}: </p>-->
                <!--<input type="text" class="form-control" placeholder="term.name especific" ng-model="especific">-->
                <!--<a ng-if="especific" ng-click="$ctrl.addItemFromArr(term.datas, especific)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>-->
                <!--<div ng-repeat="d in term.datas">-->
                <!--<span>{{d}}</span><a ng-click="$ctrl.removeItemFromArr(term.datas, d)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>-->
                <!--</div>-->
                <!--</div>-->
                <!--<form class="search-form">-->
                <!--<span class="input-group">-->
                <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="searchText">-->
                <!--<span class="input-group-btn">-->
                <!--</span>-->
                <!--</span>-->
                <!--<select type="text" class="form-control" ng-model="searchText"> -->
                <!--</select>-->
                <!---->
                <!--</form>-->
                <!--<p>-->
                <!--{{el.name}}-->

                <!--</p>-->
              </div>

            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
