<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">Repository</h4>
      <!--<md-button ng-click="showSimpleToast()">-->
      <!--Show Simple-->
      <!--</md-button>-->
      <div class="container-fluid container-fixed-lg">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Tree Projects</div>
              </div>
                <div class="panel-body">
                  <div class="col-sm-3 pre-scrollable">
                    <!--<p ng-repeat="validation in $ctrl.forms">-->
                      <!--<a ng-click="$ctrl.selectForm(validation)">{{validation.name}}</a>-->
                    <!--</p>-->

                    <div class="treeGlobal">
                      <ol class="tree">
                        <li ng-repeat="project in $ctrl.getCurrentUser().projects">
                          <label ng-click="$ctrl.selectProjectById(project._id)">{{project.name}}</label>
                          <input type="checkbox" />
                          <ol>

                            <li ng-repeat="form in project.forms" class="file">
                              <a ng-click="$ctrl.selectFormById(form._id)">
                                <span ng-if="form.mode === 'form' "><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                                <span ng-if="form.mode === 'structure' "><i class="fa fa-share-alt" aria-hidden="true"></i></span>
                                <span ng-if="form.mode === 'terminology' "><i class="fa fa-book" aria-hidden="true"></i></span>
                                {{form.name}} v{{form.version}}
                              </a>
                            </li>
                          </ol>
                        </li>
                      </ol>

                    </div>
                  </div>
                  <div class="col-sm-9" ng-show="$ctrl.projectSelected.name">
                    <h3>{{$ctrl.projectSelected.name}}</h3>
                    <p>{{$ctrl.projectSelected.description}} </p>

                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>User</th>
                        <th>Email</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="user in $ctrl.projectSelected.users">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                      </tr>
                      <tr>
                        <td>
                          <input type="text" class="form-control" ng-model="$ctrl.newUser">
                        </td>
                        <td>
                          <button type="button" ng-click="$ctrl.addUserProject()" id="save-action" class="btn btn-primary">
                            Add User
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                  </div>
                  <div class="col-sm-9" ng-show="$ctrl.formSelected.statusForm">
                    <div>
                      <a ng-click="showModelForm('#modelConfirm')" class="icon deny"><span class="fa fa-trash fa-2x"></span></a>
                      <h3 style="display:inline;">{{$ctrl.formSelected.name}}</h3>
                      <span ng-show="$ctrl.formSelected.statusForm === 'accepted'"  class="label label-success">Publish</span>
                      <span ng-show="$ctrl.formSelected.statusForm === 'pending'" class="label label-warning">Working</span>
                      <span ng-show="$ctrl.formSelected.statusForm === 'denied'"  class="label label-danger">Rejected</span>
                    </div>
                    <br>
                    <uib-tabset active="activeJustified" justified="true">
                      <uib-tab index="0" heading="Form">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div style="text-align: center;">
                              <span ng-show="$ctrl.isAdmin()" class="label label-success" ng-click="$ctrl.accept($ctrl.formSelected)">Publish</span>
                              <span ng-show="$ctrl.isAdmin()" class="label label-warning" ng-click="$ctrl.working($ctrl.formSelected)">Working</span>
                              <span ng-show="$ctrl.isAdmin()" class="label label-danger" ng-click="$ctrl.deny($ctrl.formSelected)">Rejected</span>
                            </div>
                            <br>
                            <!--Formulario previsualización-->
                            <div class="col-sm-12 simpleDemo">
                              <!--- CON SECCIONES COMIENZO -->
                              <small ng-show="showCombineButton" id="combineHelp" class="form-text text-muted">For correct combinetion you should check 2 inputs with options and pulse Confirm Combine</small>

                              <script type="text/ng-template" id="list.html">
                                <ul name="principalForm" dnd-list="list">
                                  <li ng-repeat="(i,m) in list"
                                      dnd-draggable="m"
                                      dnd-moved="list.splice(i, 1)"
                                      dnd-effect-allowed="move"
                                      dnd-selected="list.selected = m"
                                      ng-class="{'selected': list.selected === m}"
                                      ng-include="m.typeShow + '.html'">

                                  </li>
                                </ul>
                              </script>
                              <script type="text/ng-template" id="list2.html">
                                <ul name="principalForm" dnd-list="m.container">
                                  <li ng-repeat="(i,m) in m.container"
                                      dnd-draggable="m"
                                      dnd-moved="m.container.splice(i, 1)"
                                      dnd-effect-allowed="move"
                                      dnd-selected="m.container.selected = m"
                                      ng-class="{'selected': m.container.selected === m}"
                                      ng-include="m.typeShow + '.html'">
                                  </li>
                                </ul>
                              </script>

                              <script type="text/ng-template" id="container.html">
                                <div class="container-element box item box-blue">
                                  <div class="formComponent" ng-mouseenter="showHeaderButtons=true" ng-mouseleave="showHeaderButtons=false" >
                                    <span class="{{m.class}} formLabel">{{m.header}}<span ng-if="m.required===true">*</span></span>
                                    <md-button class="edit" ng-show="showHeaderButtons" ng-click=" m.edit=true "><i class="fa fa-eye" style="color: #105cb6;" aria-hidden="true" aria-label="edit"></i></md-button>
                                  </div>
                                  <!--Editar para la sección-->
                                  <div ng-if="m.edit" style="padding:10px">
                                    <div class="formEdit">
                                      <form class="form-horizontal">
                                        <div class="form-group">
                                          <label class="control-label col-sm-2" for="label">Label:</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" id="label" ng-model="m.header" >
                                          </div>
                                        </div>
                                      </form>
                                      <!--close button-->
                                      <div class="row">

                                        <button class="btn btn-default closeEdit" ng-click="m.edit=false">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="column" ng-repeat="list in [m.container]" ng-include="'list.html'"></div>
                                  <div class="clearfix"></div>
                                </div>

                              </script>
                              <!--Añado una variable para controlar cuando el ratón entra en el div para mostrar los botones de editar y borrar-->
                              <script type="text/ng-template" id="item.html">
                                <div class="item">
                                  <div class="formComponent" ng-mouseenter="showHeaderButtons=true" ng-mouseleave="showHeaderButtons=false" >

                                    <!--Muestra si el combinar está activo-->
                                    <span class="formLabel" ng-show="showCombineButton">
                            <md-checkbox  ng-model="m.selectCombineElement" ng-change="$ctrl.addCombineElement(m)"/>
                            {{m.header}}
                            <span ng-if="m.required===true">*</span>
                          </span>

                                    <!--Muestra si el combinar está desactivado-->
                                    <span class="formLabel" ng-show="!showCombineButton">
                            {{m.header}}
                            <span ng-if="m.required===true">*</span>
                          </span>
                                    <md-button class="edit" ng-show="showHeaderButtons" ng-click=" m.edit=true "><i class="fa fa-eye" style="color: #105cb6;" aria-hidden="true" aria-label="edit"></i></md-button>
                                    <md-button uib-tooltip="{{m.helptext}}" class="delete" ng-show="showHeaderButtons" dnd-list="[]" ng-click=""><i class="fa fa-question" style="color: #3c763d;" aria-hidden="true" aria-label="help"></i></md-button>


                                    <div ng-if="!m.edit">
                                      <!--number & text-->
                                      <div ng-if="m.typeStructure === 'simple'">
                                        <input class="form-control" type="{{m.type}}" ng-model="m.value" min="{{m.minValue}}" max="{{m.maxValue}}" ng-required="{{m.required}}" />
                                      </div>
                                      <!--CheckBox-->
                                      <div ng-if="m.type === 'checkbox' ">
                                        <div ng-repeat="(j, v) in m.options">
                                          <md-checkbox ng-model="v.value" />
                                          <input class="form-control" type="text" ng-model="v.display"/>
                                        </div>
                                      </div>
                                      <!--Select -->
                                      <div ng-if="m.type === 'select' ">
                                        <select class="form-control" id="sel1" ng-model="v.value">
                                          <option ng-repeat="(j, v) in m.options">
                                            {{v.display}}
                                          </option>
                                        </select>
                                      </div>
                                      <!--TextArea-->
                                      <div ng-if="m.type === 'textArea' ">
                              <textarea class="form-control" rows="{{m.rows}}" ng-model="m.value" maxlength="{{m.maxLength}}" ng-required="{{m.required}}">
                              </textarea>
                                      </div>
                                      <!--Radio Group-->
                                      <div ng-if="m.type === 'radioGroup' ">
                                        <md-radio-group ng-model="m.value">
                                          <div ng-repeat="(j, v) in m.options">
                                            <md-radio-button value={{v.value}} class="md-primary">{{v.display}}</md-radio-button>
                                          </div>
                                        </md-radio-group>
                                      </div>
                                      <!--Date Field-->
                                      <div ng-if="m.type === 'dateField' ">
                                        <md-datepicker ng-model="m.value" md-placeholder="Enter date" ng-required="{{m.required}}"></md-datepicker>
                                      </div>
                                      <!--File-->
                                      <div ng-if="m.type === 'file' ">
                                        <input type="file" class="form-control">
                                      </div>
                                      <!--Autocalculated-->
                                    </div>
                                    <!--------------------Edition view----------------->
                                    <div ng-if="m.edit" style="padding:10px">
                                      <div class="formEdit">
                                        <form class="form-horizontal">
                                          <!--REQUIRED-->
                                          <div class="form-group">
                                            <label class="control-label col-sm-2" for="required">
                                              Required:
                                            </label>

                                            <div class="col-sm-10">
                                              <div class="checkbox">
                                                <label><input type="checkbox" id="required" ng-model="m.required"> </label>
                                              </div>
                                            </div>
                                          </div>
                                          <!--LABEL-->
                                          <div class="form-group">
                                            <label class="control-label col-sm-2" for="label1">Label:</label>
                                            <div class="col-sm-10">
                                              <input type="text" class="form-control" id="label1" ng-model="m.header" >
                                            </div>
                                          </div>
                                          <!--VALUE-->
                                          <div class="form-group" ng-if="m.typeStructure!='complex' && m.type!='dateField' && m.type!='header' && m.type!='file'">
                                            <label class="control-label col-sm-2" for="value">Value:</label>
                                            <div class="col-sm-10">
                                              <input type="{{m.type}}" class="form-control" id="value" ng-model="m.value" maxlength="{{m.maxLength}}">
                                            </div>
                                          </div>
                                          <!--Magnitude-->
                                          <div class="form-group" ng-if="m.type==='magnitude'">
                                            <label class="control-label col-sm-2" for="value">Unit:</label>
                                            <div class="col-sm-10">
                                              <select class="form-control" ng-model="m.unit">
                                                <optgroup label="Picnic">
                                                  <option>Mustard</option>
                                                  <option>Ketchup</option>
                                                  <option>Relish</option>
                                                </optgroup>
                                                <optgroup label="Camping">
                                                  <option>Tent</option>
                                                  <option>Flashlight</option>
                                                  <option>Toilet Paper</option>
                                                </optgroup>
                                              </select>
                                            </div>
                                          </div>

                                          <!--Default VALUE-->
                                          <div class="form-group" ng-if="m.typeStructure!='complex' && m.type!='dateField' && m.type!='header' && m.type!='file' && m.type!='auto'">
                                            <label class="control-label col-sm-2" for="value">Default Value:</label>
                                            <div class="col-sm-10">
                                              <input type="{{m.type}}" class="form-control" id="dvalue" ng-model="m.defaultValue" maxlength="{{m.maxLength}}">
                                            </div>
                                          </div>
                                          <!--Help Text-->
                                          <div class="form-group" ng-if="m.type!='header'">
                                            <label class="control-label col-sm-2" for="value">Help Text:</label>
                                            <div class="col-sm-10">
                                              <input type="text" class="form-control" id="htext" ng-model="m.helptext" maxlength="150">
                                            </div>
                                          </div>
                                          <!--MAX LENGTH-->
                                          <div class="form-group" ng-if="m.typeStructure!='complex' && m.type!='number' && m.type!='dateField' && m.type!='header' && m.type!='file' && m.type!='auto'">
                                            <label class="control-label col-sm-2" for="maxLength">Max Length:</label>
                                            <div class="col-sm-10">
                                              <input type="number" class="form-control" id="maxLength" ng-model="m.maxLength" >
                                            </div>
                                          </div>
                                          <!--number max & min-->
                                          <div class="form-group" ng-if="m.type==='number'">
                                            <label class="control-label col-sm-2" for="maxValue">Min:</label>
                                            <div class="col-sm-4">
                                              <input type="number" class="form-control" id="minValue" ng-model="m.minValue" >
                                            </div>
                                            <label class="control-label col-sm-2" for="maxValue">Max:</label>
                                            <div class="col-sm-4">
                                              <input type="number" class="form-control" id="maxValue" ng-model="m.maxValue" >
                                            </div>
                                          </div>

                                          <!--decimal number-->
                                          <div class="form-group" ng-if="m.type==='number'">
                                            <label class="control-label col-sm-2" for="maxLength">Decimals:</label>
                                            <div class="col-sm-10">
                                              <input type="number" class="form-control" id="decimalNumber" ng-model="m.decimalNumber" >
                                            </div>
                                          </div>
                                          <!--OPTIONS CHECKBOX-->
                                          <div class="form-group" ng-if="m.typeStructure === 'complex'">
                                            <div >
                                              <div ng-repeat="(j, v) in m.options" >
                                                <label class="control-label col-sm-2" for="optionCheckbox">Options:</label>
                                                <div class="col-sm-5">
                                                  <input type="text" id="optionCheckbox" class="form-control" ng-model="v.display" >
                                                </div>
                                                <div class="col-sm-5">
                                                  <input type="text" class="form-control" ng-model="v.display" >
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!--Rows-->
                                          <div class="form-group" ng-if="m.typeStructure === 'textArea' ">
                                            <label class="control-label col-sm-2" for="rows">Rows:</label>
                                            <div class="col-sm-10">
                                              <input type="number" class="form-control" id="rows" ng-model="m.rows" >
                                            </div>
                                          </div>
                                          <!--Type form view-->
                                          <div class="form-group" ng-if="$ctrl.flagForm && m.type!='file' && m.type!='header' && m.type!='auto'">
                                            <label class="control-label col-sm-2" for="value">Type form view:</label>
                                            <div class="col-sm-10">
                                              <button class="btn btn-default" ng-click="$ctrl.changeType(null, m, 3)">Select</button>
                                              <button class="btn btn-default" ng-click="$ctrl.changeType(null, m, 2)">CheckBox</button>
                                              <button class="btn btn-default" ng-click="$ctrl.changeType(null, m, 5)">Radio Group</button>
                                            </div>
                                          </div>
                                        </form>
                                        <!--close button-->
                                        <div class="row">
                                          <button class="btn btn-default closeEdit" ng-click="m.edit=false">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </script>
                              <div ng-repeat="list in [$ctrl.formSelected.form]">
                                <div class="dropzone box box-yellow">
                                  <div ng-include="'list.html'"></div>
                                </div>
                              </div>
                              <!--- CON SECCCIONES FIN ---->
                            </div>
                          </div>
                        </div>
                      </uib-tab>
                      <uib-tab index="1" heading="Messages">

                        <!--Mensajes de usuarios-->
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <h4>{{$ctrl.formSelected.statusForm}}</h4>

                            <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{$ctrl.widthAccepted}}%">
                                Accepted
                              </div>
                              <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{$ctrl.widthRejected}}%">
                                Rejected
                              </div>
                            </div>
                            <a ng-click="$ctrl.changeStateForm(true)" class="icon accept"><span class="fa  fa-thumbs-o-up fa-2x"></span></a>
                            <a ng-click="$ctrl.changeStateForm(false)" class="icon deny"><span class="fa fa-times fa-2x"></span></a>
                            <ul class="list-group user-list">
                              <li class="list-group-item" ng-repeat="n in $ctrl.formSelected.messages track by $index">
                                <div class="user-info">
                                  <strong>{{n.user}}</strong><br>
                                  <span class="text-muted">{{n.message}}</span>
                                </div>
                              </li>
                            </ul>
                            <div class="col-sm-10">

                              <div class="form-group">
                                <input class="form-control" ng-keydown="$event.keyCode === 13 && $ctrl.sendMessage($ctrl.formSelected)" ng-model="$ctrl.message" class="form-control" rows="5" id="message"></input>
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <a ng-click="$ctrl.sendMessage($ctrl.formSelected)" class="icon accept"><span class="fa fa-paper-plane-o fa-2x"></span></a>
                            </div>
                          </div>
                        </div>
                      </uib-tab>
                      <uib-tab index="2" heading="Export">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-sm-12 panel-title" >
                               Research Platforms
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-4">
                                <a target="_blank" href="https://www.juntadeandalucia.es/servicioandaluzdesalud/hhuuvr/esaludpre/MirthOperaciones/HEMIC_IB/{{$ctrl.formSelected._id}}">
                                  <img class="resize"  src="assets/images/ITCBio_logo.jpg" alt="...">
                                </a>
                              </div>
                              <div class="col-sm-4">
                                <br>
                                <a target="_blank" href="https://www.juntadeandalucia.es/servicioandaluzdesalud/hhuuvr/esaludpre/MirthOperaciones/HEMIC_G/{{$ctrl.formSelected._id}}">
                                  <img class="resize" src="assets/images/openclinica_logo.png" alt="OpenClinica">
                                </a>
                              </div>

                              <div class="col-sm-4">
                                <a target="_blank" href="https://www.juntadeandalucia.es/servicioandaluzdesalud/hhuuvr/esaludpre/MirthOperaciones/HEMIC_T/{{$ctrl.formSelected._id}}">
                                  <img class="resize" src="assets/images/image002-11.png" alt="...">
                                </a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-4">
                                <a target="_blank" href="https://www.juntadeandalucia.es/servicioandaluzdesalud/hhuuvr/esaludpre/MirthOperaciones/HEMIC_RC/{{$ctrl.formSelected._id}}">
                                  <img class="resize" src="assets/images/REDCaplogo.bmp" alt="...">
                                </a>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-12 panel-title" >
                                Specifications
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-4">
                                <a target="_blank" href="https://www.juntadeandalucia.es/servicioandaluzdesalud/hhuuvr/esaludpre/MirthOperaciones/HEMIC_ISO/{{$ctrl.formSelected._id}}">
                                  <img class="resize" src="assets/images/ISO13606.JPG" alt="...">
                                </a>
                              </div>
                              <div class="col-sm-4">
                                <a target="_blank" href="https://www.juntadeandalucia.es/servicioandaluzdesalud/hhuuvr/esaludpre/MirthOperaciones/HEMIC_CDISC/{{$ctrl.formSelected._id}}">
                                 <img class="resize" src="assets/images/cdisc_logo_sm.png" alt="...">
                                </a>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-12 panel-title" >
                                Open API
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-4">
                                <img class="resize" src="assets/images/api.png" alt="...">
                              </div>
                            </div>
                            <div class="icon accept" uib-dropdown is-open="status.isopen">
                              <a id="multi-button" class="icon info" uib-dropdown-toggle>
                                <span class="fa fa-share-square-o"></span>
                              </a>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a target="_blank" href="https://www.juntadeandalucia.es/servicioandaluzdesalud/hhuuvr/esaludpre/MirthOperaciones/HEMIC_G/{{validation._id}}">OpenClinica</a></li>
                                <li role="menuitem"><a href="#">Another action</a></li>
                                <li role="menuitem"><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="#">Separated link</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </uib-tab>
                    </uib-tabset>
                    <!--<button type="button" ng-click="showModelForm('#modelConfirm')" id="data-action" class="btn btn-danger" style="float: right;">Remove form!</button>-->
                  </div>

                  <!--<table class="table table-striped">-->
                    <!--<thead>-->
                    <!--<tr>-->
                      <!--<th>Name</th>-->
                      <!--<th>State</th>-->
                      <!--<th>Project</th>-->
                      <!--<th>Version</th>-->
                      <!--<th>Language</th>-->
                      <!--<th>Actions</th>-->
                      <!--<th>Export</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="validation in $ctrl.forms">-->
                      <!--<td>{{validation.name}}</td>-->
                      <!--<td>{{validation.statusForm}}</td>-->
                      <!--<td>{{validation.project}}</td>-->
                      <!--<td>{{validation.version}}</td>-->
                      <!--<td>{{validation.language}}</td>-->
                      <!--<td>-->
                        <!--&lt;!&ndash;<a ng-click="showModelForm('#modelMessages'); $ctrl.selectForm(validation)" class="icon info"><span class="fa fa-envelope"></span></a>&ndash;&gt;-->
                        <!--<a ng-click="showModelForm('#modelInfo'); $ctrl.selectForm(validation)" class="icon info"><span class="fa fa-comments"></span></a>-->
                        <!--<a ng-click="$ctrl.accept(validation)" class="icon accept"><span class="fa fa-check-square-o"></span></a>-->
                        <!--<a ng-click="$ctrl.deny(validation)" class="icon deny"><span class="fa fa-times"></span></a>-->
                      <!--</td>-->
                      <!--<td>-->
                        <!--<div class="icon accept" uib-dropdown is-open="status.isopen">-->
                          <!--<a id="single-button" class="icon info" uib-dropdown-toggle>-->
                            <!--<span class="fa fa-share-square-o"></span>-->
                          <!--</a>-->
                          <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
                            <!--<li role="menuitem"><a target="_blank" href="https://www.juntadeandalucia.es/servicioandaluzdesalud/hhuuvr/esaludpre/MirthOperaciones/HEMIC_G/{{validation._id}}">OpenClinica</a></li>-->
                            <!--<li role="menuitem"><a href="#">Another action</a></li>-->
                            <!--<li role="menuitem"><a href="#">Something else here</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li role="menuitem"><a href="#">Separated link</a></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                      <!--</td>-->
                    <!--</tr>-->

                    <!--</tbody>-->
                  <!--</table>-->
                  <!--<ul class="list-group user-list">-->
                    <!--<li class="list-group-item" ng-repeat="validation in $ctrl.forms">-->
                      <!--<div class="user-info">-->
                        <!--<strong>{{validation.name}}</strong><br>-->
                        <!--<span class="text-muted">{{validation.statusForm}}</span>-->
                        <!--<span class="text-muted">{{validation.statusForm}}</span>-->

                      <!--</div>-->
                      <!--<a ng-click="showModelForm('#modelMessages'); $ctrl.selectForm(validation)" class="icon info"><span class="fa fa-envelope"></span></a>-->
                      <!--<a ng-click="showModelForm('#modelInfo'); $ctrl.selectForm(validation)" class="icon info"><span class="fa fa-info"></span></a>-->
                      <!--<a ng-click="$ctrl.accept(validation)" class="icon accept"><span class="fa fa-check-square-o"></span></a>-->
                      <!--<a ng-click="$ctrl.deny(validation)" class="icon deny"><span class="fa fa-times"></span></a>-->
                    <!--</li>-->
                  <!--</ul>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>


</div>
<!--Modal details-->
<div style="visibility: hidden">
  <div class="md-dialog-container" layout="row" class="profile" layout-wrap id="modelInfo">
    <md-dialog flex="50">
      <md-toolbar>
        <div class="md-toolbar-tools dialog-header">
          Details
          <span flex></span>
          <md-button class="md-icon-button" aria-label="buttonHide" ng-click="hideModelForm()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <img src="https://image.ibb.co/eNiQjm/image_Fake.jpg">

        <ul class="list-group user-list">
          <li class="list-group-item" ng-repeat="n in $ctrl.formSelected.messages track by $index">
            <div class="user-info">
              <strong>{{n.user}}</strong><br>
              <span class="text-muted">{{n.message}}</span>
            </div>

          </li>
        </ul>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <div class="col-sm-10">

          <div class="form-group">
            <input class="form-control" ng-keydown="$event.keyCode === 13 && $ctrl.sendMessage($ctrl.formSelected)" ng-model="$ctrl.message" class="form-control" rows="5" id="message"></input>
          </div>
        </div>
        <div class="col-sm-2">
          <a ng-click="$ctrl.sendMessage($ctrl.formSelected)" class="icon accept"><span class="fa fa-paper-plane-o fa-2x"></span></a>
        </div>
      </md-dialog-actions>

    </md-dialog>
  </div>
</div>

<!--Modal messages-->
<div style="visibility: hidden">
  <div class="md-dialog-container" layout="row" class="profile" layout-wrap id="modelMessages">
    <md-dialog flex="50">
      <md-toolbar>
        <div class="md-toolbar-tools dialog-header">
          Messages
          <span flex></span>
          <md-button class="md-icon-button" aria-label="buttonHide" ng-click="hideModelForm()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <ul class="list-group user-list">
          <li class="list-group-item" ng-repeat="n in $ctrl.formSelected.messages track by $index">
            <div class="user-info">
              <strong>{{n.user}}</strong><br>
              <span class="text-muted">{{n.message}}</span>
            </div>

          </li>
        </ul>

      </md-dialog-content>

      <md-dialog-actions layout="row">
        <a ng-click="$ctrl.sendMessage($ctrl.formSelected)" class="icon accept"><span class="fa fa-paper-plane-o fa-2x"></span></a>
        <div class="form-group">
          <label for="message">New message:</label>
          <textarea ng-keydown="$event.keyCode === 13 && $ctrl.sendMessage($ctrl.formSelected)" ng-model="$ctrl.message" class="form-control" rows="5" id="message"></textarea>
        </div>
      </md-dialog-actions>

    </md-dialog>
  </div>
</div>
<!--Modal confirm-->
<div style="visibility: hidden">
  <div class="md-dialog-container" layout="row" class="profile" layout-wrap id="modelConfirm">
    <md-dialog flex="50" style="max-width: 30%;">
      <md-toolbar>
        <div class="md-toolbar-tools dialog-header">
          Alert!
          <span flex></span>
          <md-button class="md-icon-button" aria-label="buttonHide" ng-click="hideModelForm()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div style="padding-top: 10px" class="container-fluid container-fixed-lg">
          <div class="form-group">
            <label class="control-label ">Are you sure you want to delete this form?</label>
          </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">

        <span flex></span>
        <md-button ng-click="$ctrl.removeForm($ctrl.formSelected);hideModelForm();" >
          Confirm
        </md-button>
        <md-button ng-click="hideModelForm()" style="margin-right:20px;" >
          Cancel
        </md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>

